<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Rss it</title>
    {% load static %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{% static 'gui/main.css' %}">
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
</head>
<body>
    <div class="mid">
        <h1><a class="title" href="{% url 'home' %}">Rss-it</a></h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>